<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DBConnection" value="4CEB42FBA058C3B9F5FB11E6FD2A0B7C79D78C67B20BBBD9A345F06A180E14448C7F4F07C4A14BD1CFB81EF29813201677344AA36E57BEDE605CA92E41996D0BC0F7B8E4B976772CC2E0415024A23F17" />
    <add key="Decrypt" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>