<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VERONICA.DigemidBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <VERONICA.DigemidBrowser.Properties.Settings>
            <setting name="URLSearch" serializeAs="String">
                <value>http://ms.digemid.minsa.gob.pe:8480/msopmcovid/preciovista/ciudadano</value>
            </setting>
            <setting name="URLDigemid" serializeAs="String">
                <value>http://opm.digemid.minsa.gob.pe/#/consulta-producto</value>
            </setting>
            <setting name="URLDigemidSource" serializeAs="String">
                <value>http://opm.digemid.minsa.gob.pe</value>
            </setting>
            <setting name="URLtokenGoogle" serializeAs="String">
                <value>https://www.google.com/recaptcha/api2/reload?k=6LfTRbUZAAAAAC4PZ6QF3Oz_IElVRZpnW9zzA7JD</value>
            </setting>
            <setting name="DisplayLength" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Attempts" serializeAs="String">
                <value>5</value>
            </setting>
        </VERONICA.DigemidBrowser.Properties.Settings>
    </applicationSettings>
</configuration>
