<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VERONICA.ProductEstablishmentGetWebInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="DBConnection" value="Data Source=oppm.database.windows.net;Database=medical;User ID=oppm;Password=V3r0n1c@;Trusted_Connection=False;Encrypt=True;" />
    <add key="Decrypt" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <VERONICA.ProductEstablishmentGetWebInfo.Properties.Settings>
      <setting name="URLGetGroups" serializeAs="String">
        <value>http://ms.digemid.minsa.gob.pe:8480/msopmcovid/producto/autocompleteciudadano</value>
      </setting>
      <setting name="URLSearch" serializeAs="String">
        <value>http://ms.digemid.minsa.gob.pe:8480/msopmcovid/preciovista/ciudadano</value>
      </setting>
      <setting name="URLQueue" serializeAs="String">
        <value>tcp://mq.veronica.cloud:61616/</value>
      </setting>
      <setting name="QueueListen" serializeAs="String">
        <value>taskCatalogo_Productos</value>
      </setting>
      <setting name="BulkLimit" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="TaskNumber" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Ubigeos" serializeAs="String">
        <value>01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25</value>
      </setting>
      <setting name="Attempts" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DisplayLength" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="BrowserTimeWait" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="URLDigemid" serializeAs="String">
        <value>http://opm.digemid.minsa.gob.pe/#/consulta-producto</value>
      </setting>
      <setting name="URLtokenGoogle" serializeAs="String">
        <value>https://www.google.com/recaptcha/api2/reload?k=6LfTRbUZAAAAAC4PZ6QF3Oz_IElVRZpnW9zzA7JD</value>
      </setting>
      <setting name="URLDigemidSource" serializeAs="String">
        <value>http://opm.digemid.minsa.gob.pe</value>
      </setting>
      <setting name="DigemidBrowserApp" serializeAs="String">
        <value>S:\VERONICA.Medical\VERONICA.DigemidBrowser\bin\Debug\VERONICA.DigemidBrowser.exe</value>
      </setting>
    </VERONICA.ProductEstablishmentGetWebInfo.Properties.Settings>
  </applicationSettings>
</configuration>
